<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">

    <link rel="icon" href="https://cdn3.iconfinder.com/data/icons/business/16/percentage_sign_round-512.png">
    <title>Donations</title>

</head>
<body>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/Register">Register</a></li>
    <li><a href="/DonationFeatures">Donation Features</a></li>

    <li style="float:right"><a href="/LoginPage">Login</a></li>
  </ul>

    {{{body}}}
</body>
</html>
