<!-- registration form -->

<h3>Welcome to XXX! Please enter your Capital One account number, and your nickname.</h3>
<form class="register" action="#" method="post">
  <p> Enter first name: </p>
  <input type="text" name="first_name"> <br>

  <p> Enter last name: </p>
  <input type="text" name="last_name">

  <p> Enter username name: </p>
  <input type="text" name="username">

  <p> Enter email address: </p>
  <input type="email" name="email">

  <p> Enter Capital One Account Information: </p>
  <input type="text" name="account_info" value="XXXXXXXX1234"> <br>

  <button type="submit" name="submit">Register</button>

</form>
